.frame {
  background-color: var(--a);
  margin-top: 30px;
}
.div {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.div2 {
  border-radius: 20px;
  height: 56px;
  padding: 0px 0px 0px 25px;
}
.textWrapper {
  color: #292d32;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.divWrapper {
  background-color: var(--b);
  border-radius: 20px;
}

.textWrapper2 {
  color: #054a83;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  padding: 9px 10px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #054a83;
  margin-right: 10px;
  background-color: #d4e5dd;
}
