.cartContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.cartBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  background-color: #b1c9c6;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 7px 8px 0px rgb(134 117 117 / 75%);
}
.cartBox img {
  width: 84%;
  overflow: hidden;
}
.cartBoxTitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}
.description {
  text-align: start;
}
button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #4f6457;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.padin_containet{
  margin-bottom: 30px;
}